$(function() {
  // Reset Form
  <%= render :partial => "reset_form" %>
  
  // Display validation errors in-line below the input 
  <% if @characters.present? %>
    <% @characters.each do |c| %>
      <% if c.destroyed? %>
        $("#char_<%= c.character_id %>").addClass("disabled");
        $("#char_<%= c.character_id %>").find("label, legend").addClass("disabled");
        $("#char_<%= c.character_id %> input").attr("disabled", "disabled");
      <% end %>
      <% c.errors.each do |type, msg| %>
        var $errormsg = $("<span class='<%= type %> validation'><%= msg %></span>").hide();
        $("#input_api_key_<%= c.character_id %>").after($errormsg);
        $errormsg.fadeIn(250);
      <% end %>
    <% end %>
  <% end %>
});